src_python/__pycache__/
experiments/__pycache__/
tests/__pycache__/
logs/
.venv/
.pytest_cache/
temp/
archivedData/
submodules/
config/config_confidential.yaml
src_CD/frontend/config/config_confidential.yaml
__pycache__/
src_CD/__pycache__/